<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  
<system.serviceModel>
  <behaviors></behaviors>
  <services>
    <service name="WCF.Duplex.Services.Calculator">
      <endpoint address="net.tcp://127.0.0.1:9999/CalculatorService"
                binding="netTcpBinding" contract="WCF.Duplex.Services.ICalculator"/>
    </service>
  </services>
</system.serviceModel>
  
</configuration>