<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <client>
      <endpoint name="TimeClient"
                address="http://localhost:64669/Time.svc"
                behaviorConfiguration="webBehavior"
                binding="webHttpBinding"
                contract="WCF.REST.Client.ITime"/>
    </client>
  </system.serviceModel>
</configuration>