<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>

    <behaviors>
      <serviceBehaviors>
        <behavior name="calculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service behaviorConfiguration="calculatorServiceBehavior" name="WCF.Overloading.Services.Calculator">
        <endpoint binding="basicHttpBinding" contract="WCF.Overloading.Services.ICalculator" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:1234/calcuator" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  
</configuration>