<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_CalculatorService" >
          <!--<security mode="None"/>-->
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://127.0.0.1:9999/CalculatorService"
        binding="netTcpBinding" contract="WCF.Duplex.Services.ICalculator"
        name="CalculatorService" />
      <endpoint address="http://localhost:50040/Calculator.svc" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_CalculatorService" contract="CalculatorServiceWeb.CalculatorService"
        name="WSDualHttpBinding_CalculatorService">
        <!--<identity>
          <userPrincipalName value="ASIAPACIFIC\yanghai" />
        </identity>-->
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>